<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Playstation">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Playstation 1</mat-card-title>
        <mat-card-subtitle>3 de dezembro de 1994</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/ps1.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O inicio do que se tornou o PlayStation lancado remonta a 1986 com uma
          joint venture entre a Nintendo e a Sony.A Nintendo ja havia produzido
          a tecnologia de disquete para complementar os cartuchos, na forma do
          Family Computer Disk System, e queria continuar essa estrategia de
          armazenamento complementar para o Super Famicom.A Nintendo procurou a
          Sony para desenvolver um complemento de CD-ROM, provisoriamente
          intitulado "Play Station" ou "SNES-CD".Um contrato foi assinado e o
          trabalho comecou
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Playstation 2</mat-card-title>
        <mat-card-subtitle>4 de marco de 2000</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/ps2.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O sucessor do PlayStation foi anunciado pela Sony em marco de 1999 e
          lancado um ano depois no Japao, em 4 de marco de 2000. Na America do
          Norte, o evento ocorre no dia 26 de outubro do mesmo ano. A noticia
          causa estrondosa repercussao em todo mundo, a ponto de esvaziar lojas
          ainda no dia de seu lancamento e, devido a atrasos na fabricacao,
          apenas alguns milhoes de pessoas obtiveram o console ate o final de
          2000.Outra opcao era comprar o console na internet atraves de sites de
          leiloes, como o eBay, onde ele era vendido por ate mil dolares.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Playstation 3</mat-card-title>
        <mat-card-subtitle>11 de novembro de 2006</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/ps3.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          A Sony anunciou oficialmente o PlayStation 3 ao publico em 16 de maio
          de 2005, na E3,juntamente com um prototipo em forma de boomerang do
          controle Sixaxis.Uma versao funcional do sistema nao estava presente
          la, nem na Tokyo Game Show em setembro de 2005,embora demonstracoes
          (como Metal Gear Solid 4: Guns of the Patriots) foram mostradas em
          ambos os eventos em kits de desenvolvimento de software e hardware de
          computador pessoal comparavel.As imagens de video baseadas nas
          previstas especificacoes do PlayStation 3 tambem foram mostradas
          (nomeadamente, uma Tech Demo de Final Fantasy VII).
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Playstation 4</mat-card-title>
        <mat-card-subtitle>15 de novembro de 2013</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/ps4.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Foi anunciada em Fevereiro de 2013 durante uma conferencia de imprensa
          da Sony em Nova Iorque, no evento "PlayStation Meeting 2013" cujo tema
          foi "O Futuro da PlayStation". Foi lancada na America do Norte a 15 de
          Novembro de 2013, na Europa e America do Sul a 29 de Novembro de 2013
          e no Japao a 22 de Fevereiro de 2014. A PlayStation 4 foi a primeira
          consola da Sony a ser oficialmente e legalmente editada na China desde
          a PlayStation 2, depois do levantamento da proibicao que durou 14
          anos.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Playstation 5</mat-card-title>
        <mat-card-subtitle>novembro de 2020</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/ps5.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Foi anunciado em outubro de 2018 e confirmado em outubro de 2019 como
          o quinto da serie PlayStation e sucessor do PlayStation 4. O console
          foi lancado em 12 de novembro de 2020 na America do Norte, Australia,
          Coreia do Sul, Japao, Nova Zelandia e Singapura. E em 11 de dezembro
          de 2020 foi lancado nas Filipinas e 19 de novembro para o resto do
          mundo.A plataforma foi lancada em duas versoes, um sistema com entrada
          para disco optico compativel com Blu-ray Ultra HD para suporte a jogos
          lancados em midia fisica ou baixados atraves da PlayStation Store e
          uma versao digital de menor custo sem a unidade de disco, utilizando
          apenas o download digital.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Xbox"
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Xbox</mat-card-title>
        <mat-card-subtitle>15 de novembro de 2001</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/xbox1.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Xbox e um console de video game produzido pela Microsoft. Foi
          lancado em 15 de novembro de 2001 na America do Norte, 22 de fevereiro
          de 2002 no Japao, e 14 de Marco de 2002 na Australia e Europa. Foi a
          primeira incursao da Microsoft no mercado de video games. Como parte
          da sexta-geracao de jogos, o Xbox competiu com Sony PlayStation 2,
          Sega Dreamcast (que parou as vendas americanas antes que o Xbox fosse
          colocado a venda) e o Nintendo GameCube. O Xbox foi o primeiro console
          oferecido por uma empresa norte-americana apos o Atari Jaguar parar as
          vendas em 1996. O nome Xbox foi derivado a partir de uma contracao da
          caixa "DirectX Box", uma referencia a Microsoft.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Xbox 360</mat-card-title>
        <mat-card-subtitle>12 de maio de 2005</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/x360.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Xbox 360 foi o segundo console de videogame desenvolvido e produzido
          pela Microsoft e sendo o sucessor do Xbox. O Xbox 360 concorreu com
          Sony PlayStation 3 e Nintendo Wii, como parte da setima geracao de
          consoles de videogame. Em 30 de setembro 2012, 70 milhoes de copias do
          console foram vendidas em todo o mundo.O Xbox 360 foi apresentado
          oficialmente na MTV em 12 de maio de 2005, com o lancamento detalhado
          e informacoes dos jogos divulgados no final daquele mes, no Electronic
          Entertainment Expo (E3). O console esgotou completamente apos a
          liberacao em todas as regioes, exceto no Japao.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Xbox One</mat-card-title>
        <mat-card-subtitle>novembro de 2013</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/xboxone2.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Xbox One e o terceiro console de videogame desenvolvido e produzido
          pela Microsoft, sendo o sucessor do Xbox 360. O Xbox One competiu com
          Sony PlayStation 4 e Nintendo Wii U, como parte da oitava geracao de
          consoles de videogame. Ele foi lancado em novembro de 2013. O Xbox One
          tem 8GB de RAM, juntamente com um drive de Blu-ray, assim como a
          arquitetura nativa de 64 bits, um disco rigido integrado de 500GB,
          entrada e saida HDMI, 802.11n Wi-Fi, bem como uma CPU 8-core e
          conectividade USB 3.0. O Xbox One tem tres sistemas operacionais
          simultaneamente. Complementando Windows 8 e RT em PCs e tablets,
          havera uma terceira versao diferente do sistema operacional da
          Microsoft que foi reduzido especificamente para o novo console.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Xbox X/S</mat-card-title>
        <mat-card-subtitle> 10 de novembro de 2020</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/xboxxs.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          A Microsoft afirmou que o Xbox Series X seria quatro vezes mais
          poderoso que o Xbox One X; apresenta a arquitetura de CPU Zen 2 da AMD
          e a arquitetura grafica RDNA, uma unidade de estado solido projetada
          sob medida, GDDR6 SDRAM e suporte para ray tracing tempo real,
          renderizacao de ate 120 quadros por segundo e resolucao 8K.A Microsoft
          tambem promoveu o "modo automatico de baixa latencia" e a "entrada
          dinamica de latencia" para melhorar a capacidade de resposta.O design
          do Xbox Series X possui um fator de forma semelhante a uma "torre",
          projetado para ficar na vertical ou na horizontal. O console sera
          fornecido com uma versao atualizada do controle do Xbox One,
          adicionando um D-pad circular concavo semelhante ao Controle Elite e o
          botao "Compartilhar". O Xbox Series X permanecera compativel com os
          controles e acessorios existentes do Xbox One.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Nintendo">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nintendo Entertainment System</mat-card-title>
        <mat-card-subtitle>15 de julho de 1983</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/nes.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          Um dos consoles mais importantes de todos os tempos, nao so da
          Nintendo, mas de toda a industria. O NES (ou Famicom, dependendo de
          sua regiao de preferencia) foi o berco de muitas franquias gigantescas
          como Castlevania, Dragon Quest, Final Fantasy, Metroid, etc.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Game Cube</mat-card-title>
        <mat-card-subtitle>14 de setembro de 2001</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/gamecube.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          A Nintendo voltou-se para o formato de disco optico para o GameCube,
          mas enfrentou a dura concorrencia da Sony PlayStation 2, Microsoft
          Xbox e Sega Dreamcast. O progresso do jogo podia ser salvo em cartoes
          de memoria, vindo em tamanhos de 4MB a 64MB e o controlador foi
          redesenhado do modelo de tres maos da N64 para um modelo de duas maos
          para o GameCube, mas eles nao puderam evitar que fosse um grande
          fracasso.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Super Nintendo</mat-card-title>
        <mat-card-subtitle>21 de novembro de 1990</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/supernintendoo.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Nao era uma tarefa facil ser o sucessor do NES, mas o SNES nao apenas
          conseguiu preencher esse espaco como o fez muito bem. Renovacoes de
          franquias como Donkey Kong e Mega Man ocorreram ao lado de novidades
          como F-Zero e Pilotwings, deixando claro que o console da Nintendo era
          uma evolucao natural na industria.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nintendo 64</mat-card-title>
        <mat-card-subtitle>23 de junho de 1996</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/nin64.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          Indo totalmente contra a mare da epoca, a casa de Mario decidiu seguir
          com os cartuchos ao inves dos CDs como midia de seu console, o
          Nintendo 64. Com isso, o tempo de loading foi reduzido, porem as
          animacoes em CG e capacidade de armazenamento dos jogos foram perdas
          significativas em comparacao aos concorrentes.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Wii</mat-card-title>
        <mat-card-subtitle>19 de novembro de 2006</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/ninwii.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          Antes de seu anuncio oficial, o codinome do Wii era Revolution. A
          Nintendo sabia muito bem o que iria acontecer na industria de games
          quando o console fosse lancado. Porem, o que vimos foi muito mais do
          que uma revolucao, foi um fenomeno. De repente, todas as empresas
          queriam um pedaco desse novo ramo dos sensores de movimento.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Virtual Boy</mat-card-title>
        <mat-card-subtitle>14 de agosto de 1995</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/virtualboy.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Virtual Boy ficou sobre uma mesa ou gabinete e os jogadores tiveram
          que se inclinar para dentro da viseira para jogar jogos 3D em
          wireframe. Infelizmente, ao inves de proporcionar uma experiencia da
          era espacial, a maioria dos jogadores se sentiu enjoada e o conceito
          foi arquivado. Sua vida util pode ser medida em meses e nao em anos e
          nunca saiu do Japao ou dos EUA.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Portateis">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Game & Watch</mat-card-title>
        <mat-card-subtitle>15 de julho de 1983</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/game.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          Cada Game & Watch tinha apenas um jogo disponivel para jogar, e havia
          cerca de 60 no total. Alguns eram baseados em maquinas arcade e tambem
          eram responsaveis por trazer grandes licencas e personagens de jogos,
          tais como Donkey Kong, The Legend of Zelda e Mario Bros, para dentro
          de casa.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Game Boy</mat-card-title>
        <mat-card-subtitle>21 de abril de 1989</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/gboy.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Game Boy, sucessor do Game & Watch, foi um dos consoles da Nintendo
          que mais tempo durou nas prateleiras das lojas e nas casas dos
          jogadores, sendo descontinuado oficialmente apenas em 2003. O sistema
          alcancou em toda a sua vida uma impressionante marca de mais de 118
          milhoes de unidades vendidas. Isso contando todos os seus modelos,
          claro.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Game Boy Advance</mat-card-title>
        <mat-card-subtitle>21 de novembro de 1990</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/advance.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          A Game Boy Advance passou por varios projetos em seus sete anos de
          vida util, com um retorno ao estilo clamshell dos dispositivos Game &
          Watch originais para a Game Boy Advance SP. Essa singularidade pode
          ate ser vista como a precursora do Nintendo DS a ser seguida logo
          depois.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nintendo 3DS </mat-card-title>
        <mat-card-subtitle>23 de junho de 1996</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/ninds.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          Para dar continuidade ao seu conceito de DS handheld, a Nintendo
          recorreu a uma tecnologia visual popular na epoca: 3D. Tornou a tela
          superior de seu dispositivo clamshell uma tela 3D, embora, ao
          contrario da tecnologia de imagem similar nas TVs e similares, nao
          exigisse oculos.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>PSP</mat-card-title>
        <mat-card-subtitle>12 de dezembro de 2004</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/psp.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          PlayStation Portable, tambem conhecido pela sigla PSP, e um console
          portatil de videojogos da familia PlayStation desenvolvido pela Sony
          Computer Entertainment. Foi anunciado na E3 de 2004 e lancado em 12 de
          dezembro de 2004 no Japao, e nos Estados Unidos em 24 de marco de
          2005. Seu principal concorrente era o Nintendo DS, console portatil da
          Nintendo.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nintendo Switch</mat-card-title>
        <mat-card-subtitle>3 de marco de 2017</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/NinSwitch.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O primeiro console totalmente hibrido da Nintendo chegou com uma
          pequena desconfianca depois do fracasso do Wii U, porem o Switch
          mostrou-se uma ideia forte o suficiente para se tornar um dos maiores
          exitos da companhia. Seu design que permite a jogatina tanto na
          televisao quanto em formato portatil o ajudou a reunir popularidade em
          diversos paises. Alem disso, por causa de uma biblioteca em constante
          expansao, o sistema conseguiu trazer de volta todos os tipos de
          jogadores.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
